    .gradient-text-style {
      font-size: var(--text-big);
      font-weight: bold;
    }
 .hero-section {
  background-image: url('/bg.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* طول ثابت يساوي ارتفاع الشاشة */
  width: 100%;
  position: relative;
  overflow: hidden; /* يمنع أي Scroll داخلي */
}

/* حل سحري لو المشكلة من الـ om-fade */
::ng-deep om-fade {
  display: inline-block;
  max-width: 100%;
}
    .container-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      height: 350px;
      background-color: rgb(15, 15, 15);
      text-align: center;

      .shine-border-title {
        font-size: var(--text-big);
        font-weight: bold;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(
          to bottom,
          #fff 0,
          rgba(255, 255, 255, 0.1) 95%
        );
      }
    }

@keyframes marquee-infinite {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.animate-marquee-infinite {
  display: flex;
  animation: marquee-infinite 25s linear infinite;
}

/* عشان الحركة تقف لما اليوزر يلمسها بالماوس (اختياري) */
.animate-marquee-infinite:hover {
  animation-play-state: paused;
}

  .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 100%;
      height: 450px;

      h1 {
        font-size: 6rem;
        font-weight: bold;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(
          to bottom,
          #ffffff 0,
          rgba(255, 255, 255, 0.1) 95%
        );
      }
    }

    